@charset "UTF-8";

.btn {
  background: -webkit-gradient(linear, left top, right top, from(#f6bd60), to(#e88952));
  background: -o-linear-gradient(left, #f6bd60 0%, #e88952 100%);
  background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
  min-height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 0px 27px;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#e88952), to(#f6bd60));
  background: -o-linear-gradient(left, #e88952 0%, #f6bd60 100%);
  background: linear-gradient(90deg, #e88952 0%, #f6bd60 100%);
}

.btn_big {
  min-height: 50px;
  font-size: 16px;
  text-transform: uppercase;
}

.btn_blue {
  background: -webkit-gradient(linear, left top, right top, from(#87aff1), color-stop(100%, #6c80cb), to(#6c80cb));
  background: -o-linear-gradient(left, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
}

.btn_blue:hover {
  background: -webkit-gradient(linear, left top, right top, from(#6c80cb), to(#87aff1));
  background: -o-linear-gradient(left, #6c80cb 0%, #87aff1 100%);
  background: linear-gradient(90deg, #6c80cb 0%, #87aff1 100%);
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: "Gilroy";
  color: #333333;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

._no-webp .home-main{
  background: #fafafb url("../img/homepage/mainblock/bg.jpg") center/cover no-repeat; }

.home-main {
  padding: 160px 0px 0px 0px;
}

.home-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-main__body {
  padding: 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 59.21053%;
          flex: 0 1 59.21053%;
}

.home-main__body *:last-child {
  margin-bottom: 0;
}

.home-main__title {
  font-size: 40px;
  font-weight: 900;
  line-height: 51px;
  margin: 0px 0px 30px 0px;
}

.home-main__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0px 0px 30px 0px;
}

.home-main__price {
  font-weight: 900;
  font-size: 24px;
}

.home-main__button {
  min-width: 211px;
  margin: 0px 0px 30px 0px;
}

.home-main__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.78947%;
          flex: 0 1 40.78947%;
}

.docs {
  padding-top: 100px;
  padding-bottom: 100px;
}

.docs__title {
  margin: 0px 0px 30px 0px;
}

.docs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.docs__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0px 0px 30px 0px;
}

.docs__item {
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  min-height: 190px;
  text-align: center;
  color: #333;
}

.docs__item:hover {
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
}

.docs__icon {
  height: 66px;
  margin: 0px 0px 15px 0px;
}

.docs__icon img {
  max-height: 66px;
}

.docs__text {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
}

.news {
  padding: 50px 0;
}

.news__title {
  margin: 0px 0px 25px 0px;
}

.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.news__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.news__banner {
  height: 100%;
}

.news__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.items-news__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

._no-webp .banner-news{
  background: #fafafb url("../img/homepage/news/banner/bg.png") right/contain no-repeat; }

.banner-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-news__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.banner-news__body *:last-child {
  margin-bottom: 0;
}

.banner-news__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  margin: 0px 0px 20px 0px;
}

.banner-news__title span {
  color: #86adef;
}

.banner-news__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0px 0px 20px 0px;
}

.banner-news__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.banner-news__image img {
  max-width: 100%;
}

.item-news {
  padding: 25px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-news__image {
  margin: 0px 0px 15px 0px;
}

.item-news__date {
  margin: 0px 0px 15px 0px;
  font-weight: 500;
  font-size: 14px;
  color: #ababab;
}

.item-news__title {
  font-size: 19px;
  line-height: 23px;
  font-weight: 700;
  color: #333333;
  margin: 0px 0px 10px 0px;
}

.item-news__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* -------------- */

/* -------------- */

._no-webp .mountain{
  background: url("../img/gora.png") center/cover repeat-x; }

.mountain {
  width: 100%;
  min-height: 937px;
  position: relative;
  animation: mountain 30s linear 11.6s infinite reverse backwards;
}

@-webkit-keyframes mountain {
  from {
    background-position: -1000px 100%, 0 0;
  }

  to {
    background-position: 0 100%;
  }
}

@keyframes mountain {
  from {
    background-position: -1000px 100%, 0 0;
  }

  to {
    background-position: 0 100%;
  }
}

._no-webp .city{
  background: url("../img/sity.png") center repeat-x; }

.city {
  width: 100%;
  min-height: 600px;
  position: relative;
  top: 337px;
  animation: city 20s linear 11.6s infinite reverse backwards;
}

@-webkit-keyframes city {
  from {
    background-position: -1000px 100%, 0 0;
  }

  to {
    background-position: 0 100%;
  }
}

@keyframes city {
  from {
    background-position: -1000px 100%, 0 0;
  }

  to {
    background-position: 0 100%;
  }
}

.car {
  width: 600px;
  padding-left: 20px;
  height: 300px;
  position: relative;
  top: 250px;
  -webkit-animation: ride-start 5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards, finish 10s linear 12s 1 forwards;
          animation: ride-start 5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards, finish 10s linear 12s 1 forwards;
}

@-webkit-keyframes ride-start {
  0% {
    left: -100%;
  }

  100% {
    left: 30%;
  }
}

@keyframes ride-start {
  0% {
    left: -100%;
  }

  100% {
    left: 30%;
  }
}

@-webkit-keyframes finish {
  0% {
    left: 30%;
  }

  100% {
    left: 200%;
  }
}

@keyframes finish {
  0% {
    left: 30%;
  }

  100% {
    left: 200%;
  }
}

.car__corpus {
  position: absolute;
  top: 150px;
  width: 550px;
  height: 100px;
  border-radius: 11% 45% 17% 25% / 6% 35% 25% 27%;
  background-color: red;
  z-index: 2;
}

.car__glass {
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
  position: absolute;
  top: 60px;
  left: 330px;
  width: 30px;
  height: 100px;
  border-radius: 5% 81% 0% 31% / 6% 60% 25% 36%;
  background-color: #7b7bf3;
  border-left: 10px solid red;
  z-index: 2;
}

.car__door {
  position: absolute;
  top: 150px;
  left: 170px;
  width: 180px;
  height: 100px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 15px;
  z-index: 2;
}

.car__niche {
  border-radius: 18% 69% 0% 31% / 48% 60% 25% 45%;
  background-color: blanchedalmond;
  height: 40px;
  width: 200px;
  position: absolute;
  top: 140px;
  left: 160px;
}

.car__seat {
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  position: absolute;
  top: 110px;
  left: 170px;
  height: 70px;
  width: 40px;
  border-radius: 0% 72% 20% 0% / 48% 79% 25% 45%;
  background-color: brown;
  -webkit-box-shadow: inset 10px 10px 10px 10px #640707;
          box-shadow: inset 10px 10px 10px 10px #640707;
}

.mirror {
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  position: absolute;
  top: 50px;
  left: -40px;
  border-radius: 0% 72% 20% 63% / 48% 79% 25% 45%;
  height: 30px;
  width: 30px;
  background-color: gray;
  -webkit-box-shadow: inset 5px 5px 5px 5px black;
          box-shadow: inset 5px 5px 5px 5px black;
  z-index: 4;
}

.headlight__front {
  display: inline-block;
  position: relative;
  top: 40px;
  left: 545px;
  width: 10px;
  height: 30px;
  background-color: orange;
  border-radius: 0 8px 8px 0;
  -webkit-animation: fara 3s ease 6s 2 forwards;
          animation: fara 3s ease 6s 2 forwards;
}

@-webkit-keyframes fara {
  0% {
    -webkit-box-shadow: 35px 0px 30px 25px orange;
            box-shadow: 35px 0px 30px 25px orange;
  }

  25% {

  }

  75% {
    -webkit-box-shadow: 35px 0px 30px 25px orange;
            box-shadow: 35px 0px 30px 25px orange;
  }

  100% {

  }
}

@keyframes fara {
  0% {
    -webkit-box-shadow: 35px 0px 30px 25px orange;
            box-shadow: 35px 0px 30px 25px orange;
  }

  25% {

  }

  75% {
    -webkit-box-shadow: 35px 0px 30px 25px orange;
            box-shadow: 35px 0px 30px 25px orange;
  }

  100% {

  }
}

.headlight__back {
  position: relative;
  top: 0px;
  left: -8px;
  width: 10px;
  height: 20px;
  background-color: orange;
  border-radius: 6px 0 0 6px;
  -webkit-animation: far 3s ease 6s 2 forwards;
          animation: far 3s ease 6s 2 forwards;
}

@-webkit-keyframes far {
  0% {
    -webkit-box-shadow: -35px 0px 30px 25px #ff7b00;
            box-shadow: -35px 0px 30px 25px #ff7b00;
  }

  25% {

  }

  75% {
    -webkit-box-shadow: -35px 0px 30px 25px #ff7b00;
            box-shadow: -35px 0px 30px 25px #ff7b00;
  }

  100% {

  }
}

@keyframes far {
  0% {
    -webkit-box-shadow: -35px 0px 30px 25px #ff7b00;
            box-shadow: -35px 0px 30px 25px #ff7b00;
  }

  25% {

  }

  75% {
    -webkit-box-shadow: -35px 0px 30px 25px #ff7b00;
            box-shadow: -35px 0px 30px 25px #ff7b00;
  }

  100% {

  }
}

.handle {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 10px;
  width: 30px;
  background-color: gray;
  border-radius: 3px;
  -webkit-box-shadow: inset 2px 2px 5px 1px black;
          box-shadow: inset 2px 2px 5px 1px black;
}

.wheel__front {
  position: relative;
  top: 210px;
  left: 370px;
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 50%;
  border: 5px dashed gray;
  z-index: 5;
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
  -webkit-animation: wheel 5s linear 1, front 5s linear 12s 2;
          animation: wheel 5s linear 1, front 5s linear 12s 2;
}

@-webkit-keyframes wheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes front {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes front {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.wheel__back {
  position: relative;
  top: 130px;
  left: 50px;
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 50%;
  border: 5px dashed gray;
  -webkit-animation: wheel 5s linear 1, back 5s linear 12s 2;
          animation: wheel 5s linear 1, back 5s linear 12s 2;
}

@keyframes wheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes back {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes back {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.disk__front {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 40px;
  width: 40px;
  background-color: gray;
  border-radius: 50%;
  border: 1px solid white;
}

.disk__back {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 40px;
  width: 40px;
  background-color: gray;
  border-radius: 50%;
  border: 1px solid white;
}

@media (max-width: 1140px) {
  .docs {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 820));
  }

  .docs {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 992px) {
  .docs__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .docs__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 530px) {
  .docs__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

._webp .home-main{ background: #fafafb url(../img/homepage/mainblock/bg.webp) center/cover no-repeat; }

._webp .banner-news{ background: #fafafb url(../img/homepage/news/banner/bg.webp) right/contain no-repeat; }

._webp .mountain{ background: url(../img/gora.webp) center/cover repeat-x; }

._webp .city{ background: url(../img/sity.webp) center repeat-x; }